@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --color-white: hsl(0, 0%, 100%); 
    --color-soft-blue: hsl(215, 51%, 70%);
    --color-cyan: hsl(178, 100%, 50%);
    --color-cyan-trasparent: rgba(0, 255, 247, 0.473);

    --bg-very-dark-blue-body: hsl(217, 54%, 11%);
    --bg-very-dark-blue-card: hsl(216, 50%, 16%);
    --line-very-dark-blue: hsl(215, 32%, 27%);  
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background: var(--bg-very-dark-blue-body);
    font-family: 'Outfit', sans-serif;
    Font-size: 18px;
    padding: 4em 1.5em;
}

.container{
    background: var(--bg-very-dark-blue-card);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1em;
    padding:1.5em;
}

.container__image {
    position: relative;
    width: 100%;
    height: auto;
}
  
.container__image1 {
    width: 100%;
    border-radius: 0.5em;
    
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
  
.container__image2 {
    width: 100%;
    border-radius: 0.5em;
    
    position: relative;
    top: 0;
    left: 0;
    z-index: -1;
    
    opacity: 0;
    transition: opacity 0.3s ease-out;
}
  
.container__image:hover .container__image2 {
    background-color: var(--color-cyan-trasparent);
    opacity: 1;
    z-index: 2;
}
  
.container__name{
    color: var(--color-white);
    font-size: 25px;
    padding: 1em 0 .5em 0;
}

.container__name:hover{
    color: var(--color-cyan);
    cursor: pointer;
}

.container__text{
    color: var(--color-soft-blue);
    font-weight: 300;
    padding-bottom: 1em;
    line-height: 1.5em;
}

.container__value-time{
    display: flex;
    justify-content: space-between;  
    padding-bottom: 1em;
}

.container__value, 
.container__time{
    display: flex;
    align-self: start;
    gap: 0.5em;
}

.container__value img, 
.container__time img{
    padding: 0.2em 0;
}

.container__value{
    color: var(--color-cyan);
}

.container__time{
    color: var(--color-soft-blue);
}

.container__profile{
    display: flex;
    align-items: center;
    padding: 1em 0;
    gap: 1em;
    border-top: solid 0.1em var(--line-very-dark-blue);
}

.profile-avatar{
    width: 10%;
    border-radius: 2em;
    border: solid 0.1em var(--color-white);
}

.profile-creation{
    color: var(--color-soft-blue);
}

.profile-creation span{
   color: var(--color-white); 
}

.profile-creation span:hover{
    color: var(--color-cyan);
    cursor: pointer;
}


.attribution { 
    color: var(--color-white);
    font-size: 11px; 
    text-align: center; 
    padding: 2em 0;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media(min-width:1440px){
    
    body{
        min-height: 100vh;
    }

    .container{
        width: 20%;
    }
}